body {
    background-color: whitesmoke;
    text-align: center;
}

body > * {
    margin-inline: auto;
    margin-block: 40px;
}

h1 {
    color: black;
    text-align: center;
    margin-top: 100px;
}

p {
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: #5f9ea0;
}

/* Add a thick bottom border to the last row of each tbody (each user story) */
tbody tr:last-child td {
    border-bottom: 4px solid black;
}