/*----NAV BAR----*/
body {
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
}

.navbar {
    text-align: center;
    background-color: #333;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.content {
    text-align: center;
    padding: 20px;
}

#datefield {
    text-align: center;
    font-size: x-large
}

#inputhead {
    text-align: center;
}

#imagefield {
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#inputform {
    width: max-content;
    background-color: aqua;
    padding-top: 10px;
    border: 1px solid black;    
    text-align: center;
    margin: auto;
}

#inputform li{
    display: contents;
    align-content: stretch;

}

#output_tb {
    border: 1px solid black;
    width: max-content;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
}

th {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border-collapse: collapse;
    border: 1px solid black;
}
