body {
    font-family: Arial, sans-serif;
}
.container {
    width: 80%;
    margin: auto;
    text-align: center;
}
.input-field {
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
#suggestions-container {
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    max-height: 200px;
    overflow-y: auto;
}
#suggestions-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#suggestions-container li {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
}
#suggestions-container li:hover {
    background-color: #f0f0f0;
}
#food-info {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}
#food-info p {
    margin: 5px 0;
}

.add-food-link {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
}

.add-food-link:hover {
    background-color: #45a049;
}