body {
    background-color: whitesmoke;
    text-align: center;
    margin-top: 100px;
    align-items: center;
    
}

#dataSubmit {
    text-align: center;
    margin-top: 10px;
}


/* space out lines */
body > * {
    margin-inline: auto;
    margin-block: 20px;
}

#output_table {
    width: 60%;
}

#output_table 
th,
td{
    width: 20%;
    border: 1px solid black;

}



#input_table {
    display:flex;
    justify-content: center;
}

#input_table,
th,
td {
    text-align: center;
    
    border-collapse: collapse;
}





body {
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
}

.navbar {
    text-align: center;
    background-color: #333;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.content {
    text-align: center;
    padding: 20px;
}