<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Team 3 Fitness App</title>
    <link rel="stylesheet" href="static/css/about.css">
</head>
<body>

<div class="header">
    <h1>Welcome, {{ user_first_name }}!</h1>
        <form method="post" action="{{ url_for('logout') }}" class="logout-form">
            <button type="submit">Logout</button>
        </form>
</div>
<!-- Navigation Bar -->
<nav class="navbar">
    <ul>
        <li><a href="{{ url_for('about', user_id=user_id) }}">About</a></li>
        <li><a href="{{ url_for('render_food_tracking', user_id=user_id) }}">Food Tracking</a></li>
        <li><a href="{{ url_for('food_lookup', user_id=user_id) }}">Food Lookup</a></li>
        <li><a href="{{ url_for('exercise_input', user_id=user_id) }}">Exercise Input</a></li>
        <li><a href="{{ url_for('exercise_log', user_id=user_id) }}">Exercise Log</a></li>
    </ul>
</nav>
<div class="content">
    <h2>Team 3 Fitness Application</h2>
    <p>
        The Team 3 Fitness Application helps you track your diet and exercise activities.
        It provides features for looking up food and exercise details, logging your diet and exercise routines,
        and more to support your fitness journey.
    </p>
</div>

</body>
</html>
