<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercise Log</title>
  </head>
  <body>
    <main>
      <h1>Exercise Log</h1>
    </main>

    <!-- 
       Templates 
    -->

    <template id="workout">
      <section>
        <h1 class="workout-type">Strength Training</h1>
        <p class="workout-datetime">Datetime</p>
        <button>Expand / Collapse</button>
      </section>
    </template>

    <template id="exercise">
      <section>
        <h1 class="exercise-name">Exercise Name</h1>
        <button>Expand / Collapse</button>
        <table>
          <thead>
            <tr>
              <th>Set</th>
              <th>Weight</th>
              <th>Reps</th>
              <th>Duration</th>
            </tr>
          </thead>
          <tbody class="sets"></tbody>
        </table>
      </section>
    </template>

    <template id="set">
      <tr>
        <td class="set"></td>
        <td class="weight"></td>
        <td class="repetitions"></td>
        <td class="duration"></td>
      </tr>
    </template>
  </body>
</html>
