<!DOCTYPE html>
<html>
<head>
    <title>Food Lookup</title>
    <link rel="stylesheet" type="text/css" href="../static/css/foodlookup.css">
</head>
<body>
    <div class="container">
        <h1>Welcome {{ user_first_name }}, to the Food Lookup portion of our app!</h1>

        <h2>Search for Food</h2>
        <div class="search-container">
            <input type="text" class="input-field" id="searchInput" placeholder="Search for food...">
            <div id="suggestions-container"></div>
        </div>
        <div id="food-info">
            <!-- Nutritional information will be displayed here -->
        </div>
        <!-- Section for adding new food -->
        <div class="add-food-container">
            <p>Food not in database? <a href="/add_food" class="add-food-link">Add food here</a></p>
        </div>
    </div>

    <script src="../static/javascript/autocomplete.js"></script>
</body>
<!-- Navigation Bar -->
<nav class="navbar">
    <ul>
        <li><a href="{{ url_for('about', user_id=user_id) }}">About</a></li>
        <li><a href="{{ url_for('render_food_tracking', user_id=user_id) }}">Food Tracking</a></li>
        <li><a href="{{ url_for('foodlookup', user_id=user_id) }}">Food Lookup</a></li>
        <li><a href="{{ url_for('render_exercise_input', user_id=user_id) }}">Exercise Input</a></li>
        <li><a href="{{ url_for('render_exercise_log', user_id=user_id) }}">Exercise Log</a></li>
    </ul>
</nav>
</html>







