<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Calorie Tracker</title>

    <!-- Link Style Sheet -->
    <link rel="stylesheet" href="../static/index.css" />

    <!-- Defer script execution to after window loads -->
    <script type="text/javascript" src="../static/index.js" defer></script>
  </head>

  <body onload="Javascript:populate_table()">
    <!--Navigation menu-->
    <div id="Navbar">
        <ul>
            <li><a href="/templates/login.html">Login Page</a></li>
            <li><a href="/templates/create_account.html">Create Account</a></li>
            <li><a href="/templates/index.html">Calorie Input</a></li>
            <li><a href="/templates/foodlookup.html">Food Lookup</a></li>
            <li><a href="/templates/exercise_log.html">Log Exercises</a></li>
        </ul>
    </div>
    <!--END MENU-->


    </body>